@import 'tailwindcss';
/* @reference "tailwindcss/theme.css"; */



/* ::-webkit-scrollbar {
    display: none;
} */


* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-track {
    background: #f1f1f1;

}

::-webkit-scrollbar-thumb {
    background: #888;

    border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (hover: hover) and (pointer: fine) {
  .hover-bold:hover {
    font-weight: bold;
  }
}


* {box-sizing: border-box;}
.img-magnifier-container {
  position:relative;
}
.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}